<article *ngIf="course as currentCourse" class="card" [ngClass]="cardClasses" [ngStyle]="{ 'border-left-color': borderColor }" (click)="courseSelected.emit(currentCourse.id)">
    <div class="card__header">
        <h3>{{ currentCourse.name }}</h3>
        <span class="badge" [ngSwitch]="currentCourse.gradeStatus">
            <ng-container *ngSwitchCase="'passed'">Passed</ng-container>
            <ng-container *ngSwitchCase="'failed'">Failed</ng-container>
            <ng-container *ngSwitchDefault>Pending</ng-container>
        </span>
    </div>

    <p><strong>Course Code:</strong> {{ currentCourse.code }}</p>
    <p><strong>Credits:</strong> {{ currentCourse.credits | creditLabel }}</p>

    <div class="card__actions">
        <button type="button" (click)="onEnrollClick($event)">
            {{ enrollmentService.isEnrolled(currentCourse.id) ? 'Unenroll' : 'Enroll' }}
        </button>
        <button type="button" class="secondary" (click)="toggleDetails($event)">
            {{ isExpanded ? 'Hide Details' : 'Show Details' }}
        </button>
    </div>

    <div class="details" *ngIf="isExpanded">
        <p>Course ID: {{ currentCourse.id }}</p>
        <p>Status: {{ currentCourse.gradeStatus }}</p>
    </div>
</article>